<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="./css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="main-container">
      <div class="projects-container">
        Projects
        <hr />
      </div>
      <div class="line" />
      <div class="images-container">
        <div class="image-1">
          <div class="alias-text-block">
            <span class="alias-text">Summer House</span>
          </div>
          <img class="image" src="./images/1.jpg" alt="1.jpg" />
        </div>
        <div class="image-2">
          <div class="alias-text-block">
            <span class="alias-text">Brick House</span>
          </div>
          <img class="image" src="./images/2.jpg" alt="2.jpg" />
        </div>
        <div class="image-3">
          <div class="alias-text-block">
            <span class="alias-text">Renovated</span>
          </div>
          <img class="image" src="./images/3.jpg" alt="3.jpg" />
        </div>
        <div class="image-4">
          <div class="alias-text-block">
            <span class="alias-text">Barn House</span>
          </div>
          <img class="image" src="./images/4.jpg" alt="4.jpg" />
        </div>
        <div class="image-5">
          <div class="alias-text-block">
            <span class="alias-text">Summer House</span>
          </div>
          <img class="image" src="./images/5.jpg" alt="5.jpg" />
        </div>
        <div class="image-6">
          <div class="alias-text-block">
            <span class="alias-text">Barn House</span>
          </div>
          <img class="image" src="./images/6.jpg" alt="6.jpg" />
        </div>
        <div class="image-7">
          <div class="alias-text-block">
            <span class="alias-text">Summer House</span>
          </div>
          <img class="image" src="./images/7.jpg" alt="7.jpg" />
        </div>
        <div class="image-8">
          <div class="alias-text-block">
            <span class="alias-text">Renovated</span>
          </div>
          <img class="image" src="./images/8.jpg" alt="8.jpg" />
        </div>
      </div>
    </section>
  </body>
</html>
